img#loading{
    position:absolute;
    left: 45%;
    right: 45%;
    top: 25%;
    z-index: 1300;
}

.logoR{
    padding-top: 20px;
    width: 150px;
    height: 150px;
}

div.modalDialog {
    position: fixed;
    position: absolute;
    background-color: #F0F0F0;
    top: 3%;
    left: 50%;
    right: 50%;
    z-index: 1050;
    min-width: 300px;
    margin-left: -200px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

div.dialogInfo{
    text-align:center;
    color: #66CCFF;
    font-size:120%;
    padding-bottom:4px;
    padding-top:4px;
}

div.names{
    float:left;
    width:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

input#buttonVariable{
    width:100px;
    float:right;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

input#buttonData{
    width:70px;
    float:right;
    margin-bottom:10px;
}

div.well#variablesForPlotting{
    width: 300px;
}

input.radio{
    margin-left: 75px;
}

div.well{
    width:500px;
}

div#modalPopUp{
    position: fixed;
    position: absolute;
    background-color: #F0F0F0;
    top: 10%;
    left: 50%;
    z-index: 1850;
    width: 300px;
    min-height: 50px;
    margin-left: -200px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

div#dataSelector{
    width: 250px;
}

input.editTableDialogButton{
    width:125px;
    margin-left:80px;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4{
    color:#66CCFF;
    text-align:center;
}

div.csvFileDialogDiv{
    color: #66CCFF;
    float:left;
    width:160px;
    padding-left: 35px;
}

input.textField{
    margin-left: 25px;
}

select.plotMenu{
    margin-left: 25px;
}

hr{
    border-color: #66CCFF;
}

input.csvFileDialogCheckbox{
    float: left;
}

div#previewTable{
    overflow: auto;
    position: fixed;
    position: absolute;
    background-color: #F0F0F0;
    top: 5%;
    left: 25%;
    right: 25%;
    z-index: 1050;
    width: 1100px;
    height: 600px;
    margin-left: -200px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

img#xButton{
    position: absolute;
    top: 3%;
    left: 92%;
}

div.variablesType{
    color: #66CCFF;
    width: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.variableChooserCheckbox, .variableGroupCheckbox{
    width: 60px;
}
input.transformationVariablesCheckBox{
    width: 108px;
}

div.variablesTypeAddButton{
    float: left;
    padding-right: 15px;
}

input.variablesTypeTextField, .variablesGroupTextField, .observationsGroupTextField{
    width: 50px;
}

div.selectorDiv{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
}

select.variableTypeSelector{
    width: 100px;
}


div.workingWell,  div#transformationsDiv{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    overflow: auto;
}

div#transformationsDiv{
    display: block;
    width:900px;
}

div#nasWell, #infoWell{
    margin-left: auto;
    margin-right: auto;
}

div#nasInfo, div#dLInfo{
    float:left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:5px;
    text-align: center;
    width:70px;
}

div.nasInfoRow, div.dLInfoRow{
    color:#66CCFF;
    font-weight: bold;
}

div.variablesDiv, div.defineVariablesVariablesDiv, div.defineObservationsVariablesDiv{
    float: left;
    width: 70px;
    height:auto;
    text-align: center;
    text-overflow: ellipsis;
    align-content: center;
    align-items: center;
}

div.variablesDiv#namesDiv, div.variablesDiv#typeDiv{
    width: 150px;
    padding-right: 15px;
}

div.variableChooserNameContainer, div.variableChooserCheckBoxContainer, div.variableChooserNameContainer{
    height:20px;
    width:60px;
    text-overflow: ellipsis;
    text-align: center;
}

img.checkAll{
    padding-right: 5px;
}

input.commandTextField{
    width: 450px;
}

input#editDataTextField{
    margin-left: 20px;
}

div.completeContainer{
    margin-left: auto;
    margin-right: auto;
    width:920px;
    height:230px;
}

div.plotContainer{
    width: 850px;
    height: 230px;
    float:left;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

div.minus{
    width:2px;
    height:2px;
    float:left;
}

div.plus{
    width:2px;
    height:2px;
    float:left;
    padding-top: 20px;
}

img#plus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-top: 65px;
}

.plotDialogElement{
    margin-left: 15px;
}

h1{
    text-align: center;
    color: #A8A8A8;
}

h5{
    color: #A8A8A8;
    font-size: 17px;
    padding-left: 75px;
    padding-right: 75px;
}

.capital{
    color: #66CCFF;
}

.backgroundDiv{
    position:absolute;
    width: 100%;
    height: 100%;
    display:none;
    color: #686868;
    background-color: #686868;
    left:0;
    right:0;
    top:0;
    opacity: 0.75;
}

img.screenshots{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}